In [1]:
import tensorflow
import numpy
from numpy import *
numpy.random.seed(123)
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import linear_model

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import keras

from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

Using TensorFlow backend.

# Preprocess

In [2]:
df = pd.read_csv("Data.csv", low_memory=False)
df.shape

(39508, 389)

In [3]:
df.head(10)

,ActIntAmusementParkVisit,ActIntZooVisit,ActIntWineLovers,ActIntDoityourselfers,ActIntHomeImproveSpenders,ActIntHuntingEnthusiasts,BuyerLuxuryStoreShop,LifestyleMedicalPolicy,ActIntDigitalMagNewspaper,ActIntAttendsEducationProg,...,MortgageLoanType,ESTCURRMTHLYMORTGPAYMTRNG,MosaicGlobalZip4,PresenceOfCreditCard,InterestInCrafts,InterestInGourmetCooking,ComputersPeripherals,HiTechOwner,InternetOnlineSubscriber,Flag
0,26.0,68.0,65.0,37.0,53.0,41.0,40.0,69.0,78.0,67.0,...,NaN,0U,E,U,Y,Y,Y,Y,Y,0
1,47.0,46.0,2.0,31.0,9.0,68.0,5.0,14.0,48.0,10.0,...,C,1M,B,Y,U,U,Y,Y,Y,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,15.0,47.0,66.0,37.0,37.0,22.0,53.0,51.0,62.0,20.0,...,NaN,3N,F,U,U,Y,Y,Y,Y,0
6,20.0,31.0,63.0,11.0,46.0,42.0,42.0,72.0,49.0,42.0,...,NaN,1E,F,U,U,U,Y,Y,Y,0
7,47.0,43.0,99.0,63.0,80.0,69.0,38.0,93.0,40.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Since we have imbalance data, we drop rows that have number of Nan > 350 in order to balance the data

In [5]:
# df.dropna(how='all')

## drop rows that have number of Nan > 350 in order to balance the data
for i in range(len(df.index)) :
    #print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum())
    if df.loc[i].isnull().sum() > 350:
        df.drop(i , inplace=True)

In [5]:
df.shape

(38694, 389)

In [6]:
## get rid of the column that has maximum number of NaN
#df.count().idxmin()
maxNan = df.isnull().sum().idxmax()
df = df.drop(columns=maxNan)

In [7]:
#features = data.iloc[:,:-1]
#label = data.iloc[:,-1]
## drop only if ALL columns are NaN, and convert Nan to 0
#features = features.dropna(how='all').fillna(0)    
#df = pd.concat([features, label], axis=1)
#df.iloc[:,:-1].shape[0]

In [8]:
## Porportion of majority and minority

f_1 = round((sum(df['Flag'])/df.iloc[:,:-1].shape[0])*100,2)
f_0 = 100 - f_1
print("Flag0 porportion is" ,f_0,"%")

print("Flag1 porportion is",f_1,"%")

Flag0 porportion is 89.41 %
Flag1 porportion is 10.59 %

In [9]:
# Resample because we have imbalance data
from sklearn.utils import resample

# Separate majority and minority classes
df_majority = df[df.Flag==0]
df_minority = df[df.Flag==1]

# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=5000,   # to match minority class
                                 random_state=123) # reproducible results
                                 

# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority]).reset_index(drop=True)

# Display new class counts
df_downsampled.Flag.value_counts()

0    5000
1    4096
Name: Flag, dtype: int64

In [10]:
## Porportion of majority and minority after balance the data

f_1 = round((sum(df_downsampled['Flag'])/df_downsampled.iloc[:,:-1].shape[0])*100,2)
f_0 = 100 - f_1
print("Flag0 porportion is" ,f_0,"%")

print("Flag1 porportion is",f_1,"%")

Flag0 porportion is 54.97 %
Flag1 porportion is 45.03 %

#### Seperate the downsample target

In [11]:
X = df_downsampled.drop(columns=['Flag'])
y = df_downsampled['Flag'].values
y.shape

(9096,)

#### Seperate the continuous variables

In [12]:
continuous = X.select_dtypes(include=["float64"]).apply(lambda x: x.fillna(x.mean()),axis=0)
continuous.shape

(9096, 319)

In [13]:
# Normalize the continuous variables
f = continuous.iloc[:,:-1]
dataf=((f-f.min())/(f.max()-f.min()))
dataf.shape

(9096, 318)

In [14]:
# Use Lasso to select feature set
clf = linear_model.Lasso(alpha=0.01, max_iter=20000)

In [15]:
clf.fit(dataf, y)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=20000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
# Note intercept
clf.intercept_

0.4448852637315671

In [17]:
pd.options.display.max_rows = 284
coef_df = pd.DataFrame({'Variable':list(dataf), 'Coef':clf.coef_})
coef_df

                      Variable  Coef
0     ActIntAmusementParkVisit  -0.0
1               ActIntZooVisit  -0.0
2             ActIntWineLovers  -0.0
3        ActIntDoityourselfers  -0.0
4    ActIntHomeImproveSpenders  -0.0
..                         ...   ...
313          ForeignvsDomestic   0.0
314        MorevsLessExpensive   0.0
315          LuxuryvsMidPriced   0.0
316                  NewvsUsed   0.0
317        MidRangeCarvsTrucks   0.0

[318 rows x 2 columns]

In [18]:
# Drop the features where the coefficient = 0
trimContin = coef_df[coef_df.Coef != 0].Variable
trimContin

44     StyleHighFreqDomesticVac
46     StyleFrequentFlyerPrgMbr
143             BuiltHUMedHUAge
199          UrbanPopUrbanAreas
201             EducISPSADecile
203     IncFamilyIncStateDecile
278            TTTrendsettersHH
Name: Variable, dtype: object

#### Categorical Variables

In [19]:
categorical = df_downsampled.select_dtypes(include=["object"])
#categorical = df.select_dtypes(exclude=["float64","int64"])
categorical.head()

,DiscoverPremium,OtherCardPremium,OtherCardRegular,VisaRegular,CDsMoneyMarketCurrently,Vetern,ComputerOrElectronics,HomeAndGarden,EstimatedIncomeRangeV6,LevLatLong,...,MortgageRateType,MortgageLoanType,ESTCURRMTHLYMORTGPAYMTRNG,MosaicGlobalZip4,PresenceOfCreditCard,InterestInCrafts,InterestInGourmetCooking,ComputersPeripherals,HiTechOwner,InternetOnlineSubscriber
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,R,...,NaN,NaN,3U,F,U,U,U,U,U,U
1,U,U,U,U,U,U,U,U,D,R,...,NaN,NaN,0U,G,U,Y,Y,Y,U,U
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U,U,Y,Y,U,U,U,U,F,R,...,F,C,1J,C,Y,U,U,Y,Y,Y
4,U,Y,Y,U,U,Y,U,U,B,R,...,NaN,NaN,3U,G,Y,U,Y,Y,Y,Y

In [20]:
## fill NaN value with mode
for i in range(categorical.shape[1]):
    m = categorical.iloc[:,i].mode()
    categorical.iloc[:,i] = categorical.iloc[:,i].fillna(m[0])

/opt/anaconda3/envs/tensorflow/lib/python3.7/site-packages/pandas/core/indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [21]:
categorical.head().T

                            0   1   2   3   4
DiscoverPremium             U   U   U   U   U
OtherCardPremium            U   U   U   U   Y
OtherCardRegular            U   U   U   Y   Y
VisaRegular                 U   U   U   Y   U
CDsMoneyMarketCurrently     U   U   U   U   U
Vetern                      U   U   U   U   Y
ComputerOrElectronics       U   U   U   U   U
HomeAndGarden               U   U   U   U   U
EstimatedIncomeRangeV6      D   D   E   F   B
LevLatLong                  R   R   T   R   R
RuralUrbanCountySizeCode    1   3   1   1   2
ZipLocality                C1  C4  S5  S5  C4
NewHomeownerIndicator6Mos   N   N   N   N   N
NewMoverIndicator6Months    N   N   N   N   N
I1GenderCode                F   F   F   F   F
MaritalStatus1             5M  5S  5S  5M  1M
HouseholdCompositionCode    A   A   7   E   G
I1PersonType                P   P   A   P   P
I1DeceasedIndicator         0   0   0   0   0
CombinedHomeowner           U   T   2   H   T
DwellingType                S   A   S   S   A
DwellingUnitSizeCode        A   E   A   A   B
I1MailResponderIndiv        U   U   U   U   U
MultiCoDirectMailRespHH     U   Y   U   U   U
I2PersonType                P   P   I   P   P
I2GenderCode                M   M   6   M   M
I3PersonType                O   O   O   O   O
I3GenderCode                F   F   F   F   M
I4PersonType                0   0   0   0   O
I4GenderCode                0   0   0   0   F
I5PersonType                0   0   0   0   Y
I5GenderCode                0   0   0   0   M
I6PersonType                5   5   5   5   Y
I6GenderCode                N   N   N   N   M
I7PersonType                N   N   N   N   Y
I7GenderCode                5   5   5   5   F
I8PersonType                1   1   1   1   1
I8GenderCode                U   U   2   U   U
Person6OccupationGroupV2    0   0   0   0  I8
PoliticalAffiliation       5N  5D  5N  5R  5D
PoliticalAffiliation2      5D  5D  5D  5D  5N
PoliticalAffiliation3      5D  5D  5D  5D  5N
PoliticalAffiliation4      5D  5D  5D  5D  5N
PoliticalAffiliation7       0   0   0   0  5N
POC03YrsOldGenderV3         U   U   5   U   U
POC46YrsOldGenderV3         1   1   1   1   1
POC79YrsOldGenderV3         0   0   0   U   0
POC1012YrsOldGenderV3       1   1   1   U   1
POC1315YrsOldGenderV3       0   0   3   0   0
POC1618YrsOldGenderV3       1   1   3   1   1
I1PresenceofSSN             U   U   0   Y   U
PhoneMatchType              N   N   7   P   N
MailPreferenceIndicator     N   N   9   N   N
HomeBusinessIndicator       U   U   0   U   U
I1BusinessOwnerFlag         U   U   8   U   U
PurchaseAmountRanges        U   U   U   K   U
TypeofPurchase              U   U   U   R   U
MortgageAmountRanges        U   U   U   I   U
MortgageRateType            F   F   F   F   F
MortgageLoanType            C   C   C   C   C
ESTCURRMTHLYMORTGPAYMTRNG  3U  0U  0U  1J  3U
MosaicGlobalZip4            F   G   G   C   G
PresenceOfCreditCard        U   U   U   Y   Y
InterestInCrafts            U   Y   U   U   U
InterestInGourmetCooking    U   Y   U   U   Y
ComputersPeripherals        U   Y   Y   Y   Y
HiTechOwner                 U   U   Y   Y   Y
InternetOnlineSubscriber    U   U   Y   Y   Y

In [22]:
y = df_downsampled["Flag"]
y.shape

(9096,)

In [23]:
df_downsampled.shape

(9096, 388)

In [24]:
categorical = categorical.astype('category')
categorical.values.astype(str)

array([['U', 'U', 'U', ..., 'U', 'U', 'U'],
       ['U', 'U', 'U', ..., 'Y', 'U', 'U'],
       ['U', 'U', 'U', ..., 'Y', 'Y', 'Y'],
       ...,
       ['U', 'U', 'Y', ..., 'Y', 'Y', 'Y'],
       ['U', 'U', 'U', ..., 'Y', 'Y', 'Y'],
       ['U', 'U', 'U', ..., 'Y', 'Y', 'Y']], dtype='<U2')

### We use the Lasso regularisation to remove non-important ordinal features from the dataset.

In [25]:
#dummy = pd.get_dummies(data=categorical, drop_first=True)
dummy = pd.get_dummies(data=categorical)
dummy.head(10)

,DiscoverPremium_U,DiscoverPremium_Y,OtherCardPremium_U,OtherCardPremium_Y,OtherCardRegular_U,OtherCardRegular_Y,VisaRegular_U,VisaRegular_Y,CDsMoneyMarketCurrently_U,CDsMoneyMarketCurrently_Y,...,InterestInCrafts_U,InterestInCrafts_Y,InterestInGourmetCooking_U,InterestInGourmetCooking_Y,ComputersPeripherals_U,ComputersPeripherals_Y,HiTechOwner_U,HiTechOwner_Y,InternetOnlineSubscriber_U,InternetOnlineSubscriber_Y
0,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
1,1,0,1,0,1,0,1,0,1,0,...,0,1,0,1,0,1,1,0,1,0
2,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,0,1
3,1,0,1,0,0,1,0,1,1,0,...,1,0,1,0,0,1,0,1,0,1
4,1,0,0,1,0,1,1,0,1,0,...,1,0,0,1,0,1,0,1,0,1
5,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
6,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,0,1
7,1,0,1,0,0,1,1,0,1,0,...,1,0,1,0,0,1,0,1,1,0
8,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,0,1
9,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0

In [26]:
dataFrame = pd.concat([continuous,dummy,y],axis=1)

In [27]:
## normalization

f = continuous.iloc[:,:-1]
dataf=((f-f.min())/(f.max()-f.min()))
#dataf.corr(method ='pearson')
dataf.head()

,ActIntAmusementParkVisit,ActIntZooVisit,ActIntWineLovers,ActIntDoityourselfers,ActIntHomeImproveSpenders,ActIntHuntingEnthusiasts,BuyerLuxuryStoreShop,LifestyleMedicalPolicy,ActIntDigitalMagNewspaper,ActIntAttendsEducationProg,...,MortgageTerminMonths,ESTCURLOANTOVALUERATIORG,AmericanOrigin,EuropeanOrigin,AsianOrigin,ForeignvsDomestic,MorevsLessExpensive,LuxuryvsMidPriced,NewvsUsed,MidRangeCarvsTrucks
0,0.540816,0.540816,1.000000,0.653061,0.928571,0.683673,0.397959,0.979592,0.397959,0.204082,...,0.000000,0.96000,0.518581,0.076562,0.477567,0.564098,0.466301,0.334387,0.296189,0.502617
1,0.571429,0.632653,0.377551,0.367347,0.622449,0.418367,0.612245,0.551020,0.734694,0.673469,...,0.000000,0.00000,0.532139,0.142941,0.417920,0.523625,0.525796,0.725866,0.317345,0.406786
2,0.402892,0.423871,0.644661,0.500556,0.590301,0.491132,0.409360,0.632887,0.432168,0.356612,...,0.216414,0.49298,0.454820,0.133194,0.508910,0.617464,0.492357,0.403695,0.339287,0.517100
3,0.000000,0.030612,0.418367,0.479592,0.489796,0.744898,0.244898,0.377551,0.397959,0.030612,...,0.967742,0.33120,0.375862,0.122381,0.602270,0.714950,0.688255,0.484188,0.401101,0.532756
4,0.551020,0.816327,0.969388,0.489796,0.581633,0.418367,0.540816,0.989796,0.448980,0.897959,...,0.000000,0.96000,0.615180,0.126297,0.338744,0.493029,0.380900,0.266644,0.156064,0.419599

In [28]:
dataf.shape

(9096, 318)

In [29]:
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=250, n_jobs=-1, random_state=123)
#forest = ExtraTreesClassifier(n_estimators=250,random_state=0)
forest.fit(dataf, y)
importances = forest.feature_importances_
dfscores = pd.DataFrame(importances)
dfcolumns = pd.DataFrame(dummy.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
feature_selected = featureScores.nlargest(200,'Score')
print(feature_selected)  #print 200 best features

                           Specs     Score
273  Person6OccupationGroupV2_61  0.011419
159               I2PersonType_I  0.007897
272   Person6OccupationGroupV2_6  0.007469
238               I8PersonType_2  0.007155
271  Person6OccupationGroupV2_52  0.006821
274  Person6OccupationGroupV2_62  0.006715
191               I4GenderCode_0  0.006694
269   Person6OccupationGroupV2_5  0.006370
185               I3GenderCode_U  0.006324
204               I5PersonType_0  0.006302
158               I2PersonType_E  0.006243
267   Person6OccupationGroupV2_4  0.006001
314     PoliticalAffiliation2_5D  0.005826
194               I4GenderCode_3  0.005698
100   HouseholdCompositionCode_I  0.005624
127          CombinedHomeowner_8  0.005375
111               I1PersonType_I  0.005321
161               I2PersonType_O  0.005314
192               I4GenderCode_1  0.005230
209               I5GenderCode_F  0.005219
149    MultiCoDirectMailRespHH_M  0.005162
154               I2PersonType_2  0.005094
268  Person6OccupationGroupV2_42  0.005062
98    HouseholdCompositionCode_G  0.004955
190               I4PersonType_Y  0.004846
305      PoliticalAffiliation_F0  0.004823
101   HouseholdCompositionCode_J  0.004817
316     PoliticalAffiliation2_5N  0.004763
312     PoliticalAffiliation2_30  0.004748
118        I1DeceasedIndicator_2  0.004716
119        I1DeceasedIndicator_D  0.004675
130          CombinedHomeowner_R  0.004666
270  Person6OccupationGroupV2_51  0.004618
71    NewMoverIndicator6Months_N  0.004599
86    HouseholdCompositionCode_4  0.004513
157               I2PersonType_5  0.004497
163               I2PersonType_Y  0.004472
306      PoliticalAffiliation_V0  0.004437
115               I1PersonType_Y  0.004374
91    HouseholdCompositionCode_9  0.004327
125          CombinedHomeowner_5  0.004322
188               I4PersonType_E  0.004274
90    HouseholdCompositionCode_8  0.004268
182               I3GenderCode_0  0.004227
121          CombinedHomeowner_1  0.004223
141       DwellingUnitSizeCode_E  0.004222
313     PoliticalAffiliation2_36  0.004214
110               I1PersonType_H  0.004211
183               I3GenderCode_F  0.004176
105               I1PersonType_C  0.004167
70   NewHomeownerIndicator6Mos_Y  0.004118
129          CombinedHomeowner_H  0.004106
97    HouseholdCompositionCode_F  0.004106
113               I1PersonType_P  0.004104
140       DwellingUnitSizeCode_D  0.004068
155               I2PersonType_3  0.004047
310     PoliticalAffiliation2_1R  0.004037
94    HouseholdCompositionCode_C  0.004026
77             MaritalStatus1_0U  0.004021
82    HouseholdCompositionCode_0  0.004020
112               I1PersonType_O  0.004018
187               I4PersonType_1  0.004016
200               I4GenderCode_9  0.003982
73                I1GenderCode_B  0.003978
138       DwellingUnitSizeCode_B  0.003964
78             MaritalStatus1_1M  0.003952
315     PoliticalAffiliation2_5I  0.003937
150    MultiCoDirectMailRespHH_U  0.003931
66                ZipLocality_S7  0.003931
124          CombinedHomeowner_4  0.003927
74                I1GenderCode_F  0.003924
120          CombinedHomeowner_0  0.003921
172               I2GenderCode_8  0.003908
131          CombinedHomeowner_T  0.003903
189               I4PersonType_O  0.003898
80             MaritalStatus1_5S  0.003898
156               I2PersonType_4  0.003881
126          CombinedHomeowner_7  0.003866
79             MaritalStatus1_5M  0.003849
135               DwellingType_P  0.003845
93    HouseholdCompositionCode_B  0.003836
162               I2PersonType_P  0.003829
151    MultiCoDirectMailRespHH_Y  0.003824
143       DwellingUnitSizeCode_G  0.003820
132          CombinedHomeowner_U  0.003819
72    NewMoverIndicator6Months_Y  0.003812
210               I5GenderCode_M  0.003811
184               I3GenderCode_M  0.003807
68                ZipLocality_S9  0.003805
186               I4PersonType_0  0.003796
173               I2GenderCode_9  0.003780
85    HouseholdCompositionCode_3  0.003767
107               I1PersonType_E  0.003765
174               I2GenderCode_F  0.003741
164               I2GenderCode_0  0.003741
146       DwellingUnitSizeCode_U  0.003736
181               I3PersonType_Y  0.003714
117        I1DeceasedIndicator_1  0.003704
81             MaritalStatus1_5U  0.003672
137       DwellingUnitSizeCode_A  0.003668
116        I1DeceasedIndicator_0  0.003635
104               I1PersonType_B  0.003618
92    HouseholdCompositionCode_A  0.003617
148       I1MailResponderIndiv_Y  0.003612
168               I2GenderCode_4  0.003604
196               I4GenderCode_5  0.003597
134               DwellingType_M  0.003582
144       DwellingUnitSizeCode_H  0.003578
171               I2GenderCode_7  0.003568
167               I2GenderCode_3  0.003567
84    HouseholdCompositionCode_2  0.003544
75                I1GenderCode_M  0.003525
169               I2GenderCode_5  0.003506
69   NewHomeownerIndicator6Mos_N  0.003495
139       DwellingUnitSizeCode_C  0.003494
109               I1PersonType_G  0.003488
95    HouseholdCompositionCode_D  0.003481
87    HouseholdCompositionCode_5  0.003468
152               I2PersonType_0  0.003465
83    HouseholdCompositionCode_1  0.003463
317     PoliticalAffiliation2_5R  0.003463
205               I5PersonType_E  0.003454
175               I2GenderCode_M  0.003446
122          CombinedHomeowner_2  0.003431
165               I2GenderCode_1  0.003419
170               I2GenderCode_6  0.003407
145       DwellingUnitSizeCode_I  0.003398
123          CombinedHomeowner_3  0.003369
307      PoliticalAffiliation2_0  0.003365
206               I5PersonType_O  0.003353
133               DwellingType_A  0.003352
114               I1PersonType_U  0.003338
260  Person6OccupationGroupV2_12  0.003337
195               I4GenderCode_4  0.003323
147       I1MailResponderIndiv_U  0.003298
103               I1PersonType_A  0.003279
304      PoliticalAffiliation_5R  0.003255
208               I5GenderCode_0  0.003227
136               DwellingType_S  0.003226
311     PoliticalAffiliation2_24  0.003213
252               I8GenderCode_8  0.003211
202               I4GenderCode_M  0.003154
180               I3PersonType_P  0.003142
176               I2GenderCode_U  0.003119
207               I5PersonType_Y  0.003083
76                I1GenderCode_U  0.003046
294      PoliticalAffiliation_0U  0.003043
102   HouseholdCompositionCode_U  0.003032
299      PoliticalAffiliation_2F  0.003025
166               I2GenderCode_2  0.003020
26      EstimatedIncomeRangeV6_K  0.003017
198               I4GenderCode_7  0.003005
197               I4GenderCode_6  0.002998
108               I1PersonType_F  0.002969
297      PoliticalAffiliation_1R  0.002959
6                  VisaRegular_U  0.002944
17      EstimatedIncomeRangeV6_B  0.002931
106               I1PersonType_D  0.002921
293       PoliticalAffiliation_0  0.002911
160               I2PersonType_K  0.002900
3             OtherCardPremium_Y  0.002899
0              DiscoverPremium_U  0.002891
178               I3PersonType_E  0.002882
298      PoliticalAffiliation_2C  0.002878
177               I3PersonType_0  0.002858
295      PoliticalAffiliation_1D  0.002852
44                ZipLocality_B4  0.002813
96    HouseholdCompositionCode_E  0.002798
232               I7GenderCode_5  0.002798
38    RuralUrbanCountySizeCode_6  0.002780
29                  LevLatLong_4  0.002771
9      CDsMoneyMarketCurrently_Y  0.002766
40    RuralUrbanCountySizeCode_8  0.002754
296      PoliticalAffiliation_1I  0.002747
63                ZipLocality_S4  0.002743
65                ZipLocality_S6  0.002706
10                      Vetern_U  0.002706
59                ZipLocality_S0  0.002698
19      EstimatedIncomeRangeV6_D  0.002697
243               I8PersonType_Y  0.002697
47                ZipLocality_C3  0.002692
43                ZipLocality_B3  0.002691
39    RuralUrbanCountySizeCode_7  0.002686
55                ZipLocality_R6  0.002671
41    RuralUrbanCountySizeCode_9  0.002667
46                ZipLocality_C2  0.002659
128          CombinedHomeowner_9  0.002646
290  Person6OccupationGroupV2_K2  0.002636
45                ZipLocality_C1  0.002630
21      EstimatedIncomeRangeV6_F  0.002611
22      EstimatedIncomeRangeV6_G  0.002582
61                ZipLocality_S2  0.002580
292  Person6OccupationGroupV2_K4  0.002580
48                ZipLocality_C4  0.002571
54                ZipLocality_R5  0.002569
20      EstimatedIncomeRangeV6_E  0.002560
237               I8PersonType_1  0.002556
32                  LevLatLong_T  0.002553
8      CDsMoneyMarketCurrently_U  0.002523
99    HouseholdCompositionCode_H  0.002516

In [30]:
feature_selected.index

Int64Index([273, 159, 272, 238, 271, 274, 191, 269, 185, 204,
            ...
             22,  61, 292,  48,  54,  20, 237,  32,   8,  99],
           dtype='int64', length=200)

In [31]:
selected_col = feature_selected.index

In [32]:
df_go = dataf.iloc[:,selected_col]
df_go.shape

(9096, 200)

In [33]:
df_go = pd.concat([df_go,dataf[trimContin],y],axis=1)

In [34]:
import tensorflow
import numpy
numpy.random.seed(123)
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

y = dataFrame['Flag']
# Split the data into 40% test and 60% training
X_train, X_test, y_train, y_test = train_test_split(df_go.values, y, test_size=0.3, random_state=123)

print("Dimension of the training input is: ", X_train.shape)
print("Dimension of the test input is: ", X_test.shape)

print("Dimension of the training target is: ", y_train.shape)
print("Dimension of the test target is: ", y_test.shape)

Dimension of the training input is:  (6367, 208)
Dimension of the test input is:  (2729, 208)
Dimension of the training target is:  (6367,)
Dimension of the test target is:  (2729,)

In [35]:
## one-hot encoding 
# ( everytime when we're dealing with categorical features or classifcation problem where our output is label)
## dummy variable
y_train = keras.utils.to_categorical(y_train,2)
y_test = keras.utils.to_categorical(y_test,2)
print('Dimension of the training target is :', y_train.shape)
print('Dimension of the test target is :', y_test.shape)

Dimension of the training target is : (6367, 2)
Dimension of the test target is : (2729, 2)

In [36]:
# Defining the Model

model = Sequential()
model.add(Dense(100,activation = 'relu', input_dim = 208))
model.add(Dropout(0.2))
model.add(Dense(100, activation = 'relu')) 
model.add(Dropout(0.2)) # 'dropout' one way of regularize nueron network
model.add(Dense(2, activation = 'softmax')) ## 'softmax' We are defining the label for categorical problem

In [37]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               20900
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 202
=================================================================
Total params: 31,202
Trainable params: 31,202
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.compile(loss='categorical_crossentropy', optimizer='RMSprop',metrics=['accuracy'])

In [39]:
model.fit(X_train,y_train, batch_size =700, epochs = 5, validation_split = 1/6, verbose=1)

Train on 5305 samples, validate on 1062 samples
Epoch 1/5
5305/5305 [==============================] - 1s 208us/step - loss: 0.6339 - accuracy: 0.6190 - val_loss: 0.5380 - val_accuracy: 0.5942
Epoch 2/5
5305/5305 [==============================] - 0s 31us/step - loss: 0.5294 - accuracy: 0.7118 - val_loss: 0.4280 - val_accuracy: 0.8136
Epoch 3/5
5305/5305 [==============================] - 0s 30us/step - loss: 0.4450 - accuracy: 0.8057 - val_loss: 0.3766 - val_accuracy: 0.8211
Epoch 4/5
5305/5305 [==============================] - 0s 29us/step - loss: 0.3942 - accuracy: 0.8394 - val_loss: 0.2897 - val_accuracy: 0.9426
Epoch 5/5
5305/5305 [==============================] - 0s 29us/step - loss: 0.3337 - accuracy: 0.8971 - val_loss: 0.3640 - val_accuracy: 0.7637

In [40]:
score = model.evaluate(X_test, y_test)
# model.predict will give us the y-hat (prediction)
print("\nModel", model.metrics_names[1], 'on test set is', score[1])

2729/2729 [==============================] - 0s 49us/step

Model accuracy on test set is 0.7486258745193481

In [41]:
## find prediction
yhat = numpy.round(model.predict(X_test),0)
yhat

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [42]:
yhat.shape

(2729, 2)

In [43]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 

results = confusion_matrix(y_test[:,0], yhat[:,0])

In [44]:
print('Confusion Matrix :')
print(results) 
print("")
print( 'Accuracy Score :',accuracy_score(y_test[:,0], yhat[:,0]))
print("")
print('Report : ')
print(classification_report(y_test[:,0], yhat[:,0]))

Confusion Matrix :
[[ 560  686]
 [   0 1483]]

Accuracy Score : 0.7486258702821547

Report :
              precision    recall  f1-score   support

         0.0       1.00      0.45      0.62      1246
         1.0       0.68      1.00      0.81      1483

    accuracy                           0.75      2729
   macro avg       0.84      0.72      0.72      2729
weighted avg       0.83      0.75      0.72      2729

In [45]:
# Import Joblib Module from Scikit Learn

from sklearn.externals import joblib

# Save the model as a pickle in a file
joblib_file = "FinalModel.pkl"  
joblib.dump(model, joblib_file)

/opt/anaconda3/envs/tensorflow/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['FinalModel.pkl']

In [46]:
# Load the model from the file 
knn_from_joblib = joblib.load('FinalModel.pkl')  
  
# Use the loaded model to make predictions 
knn_from_joblib.predict(X_test)

array([[0.37067518, 0.6293248 ],
       [0.49767113, 0.5023289 ],
       [0.96656793, 0.03343213],
       ...,
       [0.4506498 , 0.54935014],
       [0.9571413 , 0.04285876],
       [0.5568049 , 0.44319513]], dtype=float32)

# Report

correctly classify for the majority class

Summary

- get rid of the column that has maximum number of NaN
- drop rows that have number of Nan > 350 
- We downsize our sample to balance the data.
- For numerical variables, we convert Nan value to zero.
- For categorical variables, we convert Nan value to column mode.
- Classification Rate/Accuracy is